<h1>Letters#new</h1>
<p>Find me in app/views/letters/new.html.erb</p>

<input id="age_child" name="age" type="radio" value="child" />
<label for="age_child">I am younger than 21</label>
<input id="age_adult" name="age" type="radio" value="adult" />
<label for="age_adult">I'm over 21</label>

<div id="add_letter" class="col-md-6">
	<h3>Add Letter</h3>
		<form action="/letters/new" method='post'>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		
		
			

					<h3>Why do you need to write this letter? Check all that apply</h3>

-          <td><input name='letter[S1Q1]' type="checkbox" value="true" /><label for="S1Q1">To get closure for myself</label></td>

<br>

-          <td><input name='letter[S1Q2]' type="checkbox" value="true" /><label for="S1Q2">To release my feelings</label></td>

<br>
-          <td><input name='letter[S1Q3]' type="checkbox" value="true" /><label for="S1Q3">To give this person kudos</label></td>
<br>

-          <td><input name='letter[S1Q4]' type="checkbox" value="true" /><label for="S1Q4">To warn the next person who dates them</label></td>
<br>

-          <td><input name='letter[S1Q5]' type="checkbox" value="true" /><label for="S1Q5">To feel validated</label></td>
<br>

-          <td><input name='letter[S1Q6]' type="checkbox" value="true" /><label for="S1Q6">To help others from heartache</label></td>
<br>

-          <td><input name='letter[S1Q7]' type="checkbox" value="true" /><label for="S1Q7">I’m hoping to speak with someone who’s dated them</label></td>
<br>

-               <td><input name='letter[S1Q8]' type="checkbox" value="true" /><label for="S1Q8">To tell my side of the story</label></td>
<br>

 

<td><label for="S1Q9">1.        How long have you known this person?</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>
   

2.       Where did you meet this person?

-          <td><input name='letter[S1Q10]' type="checkbox" value="true" /><label for="S1Q10">Dating site</label></td>


-          <td><input name='letter[S1Q11]' type="checkbox" value="true" /><label for="S1Q11">Dating app</label></td>


-          <td><input name='letter[S1Q12]' type="checkbox" value="true" /><label for="S1Q12">Real Life</label></td>
<br>


3.       Check all the positive traits that apply <br>


- <td><input name='letter[S1Q13]' type="checkbox" value="true" /><label for="S1Q13">generous</label></td>
<br>
- <td><input name='letter[S1Q14]' type="checkbox" value="true" /><label for="S1Q14">Kind</label></td>
<br>
- <td><input name='letter[S1Q15]' type="checkbox" value="true" /><label for="S1Q15">Thoughtful</label></td>
<br>

- <td><input name='letter[S1Q16]' type="checkbox" value="true" /><label for="S1Q16">Honest</label></td>
<br>

- <td><input name='letter[S1Q17]' type="checkbox" value="true" /><label for="S1Q17">Open</label></td>
<br>
- <td><input name='letter[S1Q18]' type="checkbox" value="true" /><label for="S1Q18">Smells Nice</label></td>
<br>

- <td><input name='letter[S1Q19]' type="checkbox" value="true" /><label for="S1Q19">trustworthy</label></td>
<br>
- <td><input name='letter[S1Q20]' type="checkbox" value="true" /><label for="S1Q20">reliable</label></td>
<br>
- <td><input name='letter[S1Q21]' type="checkbox" value="true" /><label for="S1Q21">sincere</label></td>
<br>
- <td><input name='letter[S1Q22]' type="checkbox" value="true" /><label for="S1Q22">Fun</label></td>
<br>

- <td><input name='letter[S1Q23]' type="checkbox" value="true" /><label for="S1Q23">Loyal</label></td>
<br>
- <td><input name='letter[S1Q24]' type="checkbox" value="true" /><label for="S1Q24">Good Listener</label></td>
<br>
- <td><input name='letter[S1Q25]' type="checkbox" value="true" /><label for="S1Q25">integrity</label></td>
<br>
- <td><input name='letter[S1Q26]' type="checkbox" value="true" /><label for="S1Q26">Good Communicator</label></td>
<br>
- <td><input name='letter[S1Q27]' type="checkbox" value="true" /><label for="S1Q27">Humble</label></td>
<br>
- <td><input name='letter[S1Q28]' type="checkbox" value="true" /><label for="S1Q28">Giving</label></td>
<br>
- <td><input name='letter[S1Q29]' type="checkbox" value="true" /><label for="S1Q29">Makes Plans</label></td>
<br>
- <td><input name='letter[S1Q30]' type="checkbox" value="true" /><label for="S1Q30">Follows Up</label></td>
<br>
- <td><input name='letter[S1Q31]' type="checkbox" value="true" /><label for="S1Q31">Person of their Word</label></td>
<br>
- <td><input name='letter[S1Q32]' type="checkbox" value="true" /><label for="S1Q32">Spiritual</label></td>
<br>
- <td><input name='letter[S1Q33]' type="checkbox" value="true" /><label for="S1Q33">Clean</label></td>
<br>
- <td><input name='letter[S1Q34]' type="checkbox" value="true" /><label for="S1Q34">approachable</label></td>
<br>
- <td><input name='letter[S1Q35]' type="checkbox" value="true" /><label for="S1Q35">Open</label></td>
<br>
- <td><input name='letter[S1Q36]' type="checkbox" value="true" /><label for="S1Q36">volunteers</label></td>
<br>
- <td><input name='letter[S1Q37]' type="checkbox" value="true" /><label for="S1Q37">takes responsibility for their own actions</label></td>
<br>
- <td><input name='letter[S1Q38]' type="checkbox" value="true" /><label for="S1Q38">always learning</label></td>
<br>
- <td><input name='letter[S1Q39]' type="checkbox" value="true" /><label for="S1Q39">easy going</label></td>
<br>
- <td><input name='letter[S1Q40]' type="checkbox" value="true" /><label for="S1Q40">takes responsibility</label></td>
<br>
- <td><input name='letter[S1Q41]' type="checkbox" value="true" /><label for="S1Q41">Optimistic</label></td>
<br>
- <td><input name='letter[S1Q42]' type="checkbox" value="true" /><label for="S1Q42">Hopeful</label></td>
<br>
- <td><input name='letter[S1Q43]' type="checkbox" value="true" /><label for="S1Q43">go getter</label></td>
<br>

 
5.       Check all the negative traits that apply <br>

- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Cheater</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Liar</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Selfish</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Negative</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Ungrateful</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Living in the Past</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Blaming Others for their problems</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Narcissist</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Boring</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Complainer</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Greedy</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Cheap</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Frugal</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Miser</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Lazy</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Won't take responsibility for their actions</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Defensive</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Childish</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">self-absorbed</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Avoidant</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Moody</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Bipolar</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Alcoholic</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Stoner</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Anger Issues</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Mommy Issues</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Materialistic</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Arrogant</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Know it all</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Bad Listener</label></td>
<br>

- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Never Supportive of Others</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Rude</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Unreliable</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Inconsiderate</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Self-Absorbed</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Blames Others</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Financial Problems</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Mental Disorder</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Messy</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Deceitful</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Manipulative</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Game Player</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Delusional</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Dismissive</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Passive Agressive</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Wishee Washee</label></td>
<br>
- <td><input name='letter[S2Q01]' type="checkbox" value="true" /><label for="S2Q01">Follower</label></td>
<br>

<td><label for="S1Q9">6.       What was the kindest thing this person did for you or the best memory you have of this person?</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">7.       What attracted you to his person?</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">8.       When did you realize this he was shady or the straw that broke the camel’s back.</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">9.       How could you have done things differently or what do you regret?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">10.   If you could see this person again, what would you like to tell them?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">11.   If you could see this person again, what would you want from them?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">12.   What is the most important thing you want the new person who is interested in dating this person to know?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">13.   If you could get closure from this person, what would that closure look like for you?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">14.   If you had a daughter or son, would you want them to date this person you dated and why?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">15.   What did you learn from this experience?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">16.   If you want to connect with a person who’s dated this guy, please put your email contact information here.
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">17.   What song would you dedicate to this person?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">18.   What’s the one sentence you would like to hear from your ex?
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

<td><label for="S1Q9">If you would like to share more please do so below. 
</label><input name='letter[S1Q9]' type="textbox"  /></td>
<br>

</tr>
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-default" value="Add Letter"></td>
				</tr>
			</table>
		</form>
	</div>
