<!DOCTYPE html>
<html lang="en">
<head>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic,700'
        rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,400italic,700italic,700'
        rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'main', 'font-awesome', 'application','responsive','bootstrap','bootstrap.min' %>
    <%= javascript_include_tag 'jquery.min', 'script', 'modernizr.min', 'jquery.nicescroll.min', 'bootstrap.min', 'bootstrap' %>
    <%= csrf_meta_tags %>

<style>
body, html {
	background-image: url("http://ivedated.com/wp-content/uploads/2016/06/ivedated_CLOUD2WebBG.png");
    height: 150%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.add_events {
	display: inline-block;
}

.thumb img{
    border: 4px solid #F45A5D;
    border-radius: 50%;
    margin: 10px 0;
    max-width: 140px;
    width: 100%;
}

.thumb2 img{
    border: 4px solid #F45A5D;
    border-radius: 50%;
    margin: 10px 0;
    max-width: 70px;
    height: 100%;
    width: 70%;
}

</style>
</head>
<div id="event_details" class="col-md-6">
    <p><a href="/events">Events Dashboard</a> <a href="/sessions" data-method='delete'>Logout</a></p>
<h1>Show letters in letters#show.html.erb</h1>